body {
	
	background: lightcoral;
	color: white;
	margin: 0;
	padding: 0;
	
}

ul {
	list-style-type: none;
	padding: 0 1.5rem 0 1rem;
	line-height : 3rem;
}

li {
	white-space: nowrap;
}

i { 

	margin-right: 1rem;
	color: whitesmoke;
}

h1{
	color: whitesmoke;
	font-size: 1.8rem;
}

header {
	margin-bottom: 1rem;
	display: flex;
	height: 4.5rem;
	justify-content: space-between;
}


#vegburger {
	margin: 1rem 0 0 2.5rem;
	color: whitesmoke;
	background: blue;
	font-size: 1.5rem;
	z-index: 2;
	border-radius: 50%;
	padding: 0.8rem 0.8rem 0.8rem 1rem;
	width: 1.3rem;
	
}     
nav{
	position: absolute;
	top: 0;
	height: 100%;
	background: blue;
	color: whitesmoke;
	transform: translateX(-16rem);
	padding: 3.8rem;
	transition: transform 350ms ease-in-out;
	
}
nav a {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
}
.menuactive{
transform:translatex(0);

}
main h1 {
	color: whitesmoke;
	margin: 0.1rem;
}
#products {
	color: whitesmoke;
	text-align: center;
	display: flex;
}

#products h2 {
	background: pink;
	color: whitesmoke;
	padding:  .3rem 1rem;
	border-bottom: .3rem solid whitesmoke;
}
#products p {
	font-variant:  small-caps;
	font-size:  1.5rem;
} 
#products img{
	width: 35%;
}
#products a {
background:blue;
padding: .3rem 1rem;
color: whitesmoke;
text-decoration: none;
font-weight: bold;
margin-bottom: 1rem;
}
@media screen { 
	#products {
		display: flex;
		flex-wrap: wrap;
	}
	#products div {
		margin: 0 .5rem;
		width: 40%;

	}
	
	
}

